#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px;
  font-family: 'Monteserrat', sans-serif;
}
